!!!
%html
  %head
    %title WeatherZApp - Your instant weather app!
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Most accurate weather instantly!", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi", :name => "viewport"}>/
    = csrf_meta_tags

  %body
    #root

  - if Rails.env.development?
    %script{src: "http://localhost:3080/assets/bundle.js"}
  - else
    = javascript_include_tag BUNDLE_FILE